{% extends "base.html.twig" %}
{% block title %}{{ comunidad }}{% endblock %}

{% block migas %}
    <ol class="breadcrumb">
      <li><a href="{% url "demografia:index" %}">Inicio</a></li>
      <li><a href="{% url "demografia:comunidad" %}">Comunidad</a></li>
      <li class="active">Ambito Geográfico</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div  id="map" class="jumbotron" style="height: 440px"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var miMapa = L.map('map', {
            center: [{{ comunidad.centrocoordenadas }}],
            zoom: 17,
            maxZoom: 19
        });

        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
            {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
            }).addTo(miMapa);

        L.polygon([
            {% for p in poligono %}
                [{{ p }}] {% if not forloop.last%},{% endif %}
            {% endfor %}
        ], {color: 'red'}).addTo(miMapa).bindPopup("{{ comunidad.tipocomunidad }}: {{ comunidad.nombrecomunidad }}").openPopup();
    </script>
{% endblock %}