{% extends "base.html.twig" %}
{% block title %}{{ comunidad }}{% endblock %}

{% block migas %}
    <ol class="breadcrumb">
      <li><a href="{% url "demografia:index" %}">Inicio</a></li>
      <li><a href="{% url "demografia:comunidad" %}">Comunidad</a></li>
      <li class="active">Ubicación Geográfica</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div id="map" style="height: 450px;"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var myIcon = L.divIcon({className: 'fa fa-trash-o fa-3x'});

        var miMapa = L.map('map', {
            center: [{{ comunidad.centrocoordenadas }}],
            zoom: 17
        });

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {
            maxZoom: 19, 
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
        }).addTo(miMapa);

        L.marker([{{ comunidad.coordenadas }}]).addTo(miMapa).bindPopup("{{ comunidad.tipocomunidad }}: {{ comunidad.nombrecomunidad }}").openPopup();

</script>

{% endblock %}